# Required
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
ALLOW_USER_IDS=YOUR_DISCORD_USER_ID

# Optional
# If blank, all guilds that the bot belongs to are treated as available.
ALLOW_GUILD_ID=YOUR_GUILD_ID
